.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
local.properties
.idea/
*.iml
packages/flutter_midi_command_darwin/ios/.build/
packages/flutter_midi_command_ble/.flutter-plugins-dependencies
