<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.invisiblewrench.fluttermidicommand">

    <uses-feature android:name="android.software.midi" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" tools:targetApi="s" />

    <application>
                <service android:name=".VirtualDeviceService"
                    android:permission="android.permission.BIND_MIDI_DEVICE_SERVICE"
                    android:enabled="false"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.media.midi.MidiDeviceService" />
                    </intent-filter>
                    <meta-data android:name="android.media.midi.MidiDeviceService"
                        android:resource="@xml/virtual_device_info" />
                </service>
    </application>
</manifest>
